<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Evaluaciones</title>
    
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

<h1>Lista de Evaluaciones</h1>

<a href="/evaluaciones/nuevo">Nueva Evaluación</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Nota</th>
        <th>Acciones</th>
    </tr>

    <tr th:each="e : ${evaluaciones}">
        <td th:text="${e.id}"></td>
        <td th:text="${e.nombre}"></td>
        <td th:text="${e.nota}"></td>
        <td>
            <a th:href="@{/evaluaciones/eliminar/{id}(id=${e.id})}">Eliminar</a>
        </td>
    </tr>
</table>

</body>
</html>